<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Briareus</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Briareus</h1>
    <!-- @ Todo: once project is complete, create an architecture diagram and place it in the images folder -->
    <img src="{{ url_for('static', filename='images/architecture.png') }}" alt="Architecture" class="scaled-image">

    <p>An end-to-end DevOps project, which uses the following tools:</p>

    <!-- @ Todo: add further tools -->
    <ul>
      <li>Docker</li>
      <li>Python</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Git</li>
      <li>GitHub</li>
      <li>VS Code</li>
    </ul>

    <p>This is a great project for those who wish to understand how the myriad of DevOps tools work together...</p>

    <p>Check out the <a href="https://github.com/Jay-Gokani/briareus">source code</a> to explore the code and learn how this works.</p>
  </body>
</html>